@font-face {
  font-family: 'iconfont';  /* project id 2164502 */
  src: url('//at.alicdn.com/t/font_2164502_tavw0mk19w.eot');
  src: url('//at.alicdn.com/t/font_2164502_tavw0mk19w.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2164502_tavw0mk19w.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2164502_tavw0mk19w.woff') format('woff'),
  url('//at.alicdn.com/t/font_2164502_tavw0mk19w.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2164502_tavw0mk19w.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsousuo:before {
  content: "\e63c";
}